@page "/Admin/Accounts/{username}/Details"
@model IndexModel
@functions {

}

<h3>@ViewData["Title"]</h3>
<form id="details" method="post">
	<ul>
		<li class="row mb-3">
			<div class="col-md-3 text-end">Id</div>
			<div class="col-md-7">@Model.Account.Id</div>
		</li>
		<li class="row mb-3">
			<div class="col-md-3 text-end">
				<label for="username_input">Username</label>
			</div>
			<div class="col-md-7">
				<div class="input-group">
					<input id="username_input" class="form-control" type="text" placeholder="Username" asp-for="Account.UserName" />
					<button type="button" class="btn btn-outline-primary" id="username_edit_button">Edit</button>
				</div>
			</div>
		</li>
		<li class="row mb-3">
			<div class="col-md-3 text-end">
				<label for="email_input">Email</label>
			</div>
			<div class="col-md-7">
				<div class="input-group">
					<input id="email_input" class="form-control input-primary" type="text" placeholder="Email" asp-for="Account.Email" />
					<button type="button" class="btn btn-outline-primary" id="email_edit_button">Edit</button>
				</div>
			</div>
		</li>
		<li class="row mb-3">
			<div class="col-md-3 text-end">PasswordHash</div>
			<div class="col-md-7">
				<div class="input-group">
					<input id="passwordhash_input" type="text" class="form-control" placeholder="Email" asp-for="Account.PasswordHash" disabled />
					<button id="password_reset_button" type="button" class="btn btn-outline-primary" >Reset</button>
				</div>
			</div>
		</li>
		<li class="row mb-3">
			<div class="col-md-10 text-end">
				<div class="btn-group" role="group" aria-label="Basic mixed styles example">
					<button id="cancel" class="btn btn-danger" asp-page="/Admin/Accounts">Cancel</button>
					<input id="confirm" type="submit" class="btn btn-success" value="Confirm" />
				</div>
			</div>
		</div>
	</ul>
</form>
<script>
	//Admin.Form.register('details');

	//$("#username_edit_button").on("click", (event) => {
	//	event.preventDefault();

	//	console.log("test")

	//	let disabled = $("#username_input").attr("disabled");

	//	$("#username_edit_button").text(disabled ? "Save" : "Edit");
	//	$("#username_input")
	//		.attr("disabled", !disabled)
	//		.focus();

	//	return false;
	//});

	//$("#username_input").on("blur", () => {
	//	$("#username_input").attr("disabled", true);
	//})
</script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}